<div class="page-header">
	<h3>
	<a href="#/home"><span class="fa fa-reply"></span></a> take me back
	</h3>
</div>
<div class="prompt-wrapper">
	<div class="row">
		<div class="col-sm-2 votes-wrapper">
			<span class="vote-button fa fa-arrow-up" ng-click="incrementUpvotes(post)"></span>
			<span class="vote-count">{{ post.upvotes }}</span>	
			<span class="vote-button fa fa-arrow-down" ng-click="decrementUpvotes(post)"></span>			
		</div>
		<div class="col-sm-10">
			<span style="font-size: 20px; margin-left:10px;">
			<h2 ng-show="post.link" href="{{ post.link }}"> {{ post.title }} </h2>
			<h2 ng-hide="post.link"> {{ post.title }}</h2>
			</span>
		</div>
	</div>
</div>
<form ng-submit="addComment()" style="margin-top:30px;">
	<h3>Add a new comment </h3>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
	</div>
	<button type="submit" class="btn btn-primary">Post</button>
</form>
<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
	<span class="glyphicon-arrow-up glyphicon" ng-click="incrementUpvotes(comment)"></span>
	{{ comment.upvotes }} - by {{ comment.author }}
	<span style="font-size:20px; margin-left:10px;">
	{{ comment.body }}
	</span>
</div>